.section__advantages {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $color-dark;
    color: $color-white;
    @include breakpoint(md) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include breakpoint(md) {
        padding-top: 180px;
        padding-bottom: 180px;
    }

    .advantages_cases {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include breakpoint(md) {
            @include flex-between;
            flex-direction: row;
        }
        .cases__item {
            position: relative;
            padding: 0 20px;
            width: 100%;
            text-align: center;

            @include breakpoint(md) {
                width: calc(100% / 3);
            }

            @include breakpoint(lg) {
                padding: 0 63px;
            }

            &:not(:last-child) {
                margin-bottom: 20px;
                @include breakpoint(md) {
                    margin: 0;
                }
            }

            &--icon {
                width: 100px;
                height: 100px;
                background-size: contain !important;
                margin: 0 auto 20px;
                user-select: none;
            }

            &--title {
                @include text-accent;
            }

            &--desc {
                color: $color-light;
            }

            &:before {
                @include breakpoint(md) {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    background-color: $color-white;
                    opacity: .3;
                }
            }

            &:last-child {
                &:after {
                    @include breakpoint(md) {
                        position: absolute;
                        content: '';
                        right: 0;
                        top: 0;
                        width: 1px;
                        height: 100%;
                        background-color: $color-white;
                        opacity: .3;
                    }
                }
            }
        }
    }
}